<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My To Do App</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="main-container">
        <h1 class="logo">To Do App</h1>

        <form action="/submit" method="POST">
            <input type="text" name="task" id="task" placeholder="What needs to be done?" required>
            <button type="submit" class="btn">Add</button>
        </form>
        
        <div class="menus">
            <button type="button" class="menu" data-filter="all">All</button>
            <button type="button" class="menu" data-filter="current">Current</button>
            <button type="button" class="menu" data-filter="completed">Completed</button>
        </div>
        

        <ul class="todo-list">
        
                <%todos.forEach(list => {%>
                    <li class="todo">
                     <p class="todpro"><input type="checkbox" name="check" id="check"> <%=list.text%></p>
                    </li>  
                 <% }); %>
             
             
        </ul>

        <footer class="footer">
            <button type="button" class="footer-btn">Remove All Completed</button>
        </footer>
    </div>


    <script>
        let currentFilter = document.querySelector('[data-filter= "current"]');
        let allFilter = document.querySelector('[data-filter= "all"]');
        let completedFilter = document.querySelector('[data-filter= "completed"]')
        let removeFilter = document.querySelector("footer");


        allFilter.addEventListener('click', () => {
            const todos = document.querySelectorAll(".todo")

            todos.forEach(todo => {
            todo.classList.remove('hidden');
            });
        });
        
        currentFilter.addEventListener("click", () => {
            const todos = document.querySelectorAll(".todo")

            todos.forEach(todo => {
                const cb = todo.querySelector("input[type='checkbox']");
                if (cb && cb.checked) {
                todo.classList.add("hidden");
                }else { todo.classList.remove("hidden")}
            })

        });
           
        completedFilter.addEventListener("click", () => {
            const todos = document.querySelectorAll(".todo")

            todos.forEach(todo => {
                const cb = todo.querySelector("input[type='checkbox']");
                if (!cb.checked) {
                todo.classList.add("hidden");
                }else { todo.classList.remove("hidden")}
            })

        })

        removeFilter.addEventListener("click", () => {
            const todos = document.querySelectorAll(".todo");

            todos.forEach(todo => {
                const cb = todo.querySelector("input[type='checkbox']");
                if (cb && cb.checked) {
                    todo.remove()
                }
            })
        })
       
       
        
        
    </script>
</body>
</html>